<h1 #kd>Now we will be learning about angular performance enchancing</h1>

@defer (on hover) {
 <app-sec></app-sec>
}
@placeholder {
    <app-default></app-default>
}
@loading (minimum 4s;) {
    <app-loading></app-loading>
}
<div class="output">
    <img ngSrc="favicon.ico"  width="400" height="200">
</div>
<div class="output">
    <img ngSrc="favicon.ico"  width="400" height="200">
</div><div class="output">
    <img ngSrc="favicon.ico"  width="400" height="200">
</div>
<div class="output">
    <img ngSrc="favicon.ico"  width="400" height="200">
</div><div class="output">
    <img ngSrc="favicon.ico"  width="400" height="200">
</div>
<div class="output">
    <img ngSrc="favicon.ico"  width="400" height="200">
</div><div class="output">
    <img ngSrc="favicon.ico"  width="400" height="200">
</div>
<div class="output">
    <img ngSrc="favicon.ico"  width="400" height="200">
</div><div class="output">
    <img ngSrc="favicon.ico"  width="400" height="200">
</div>
<div class="output">
    <img ngSrc="favicon.ico"  width="400" height="200">
</div><div class="output">
    <img ngSrc="favicon.ico"  width="400" height="200">
</div>
<div class="output">
    <img ngSrc="favicon.ico"  width="400" height="200">
</div><div class="output">
    <img ngSrc="favicon.ico"  width="400" height="200">
</div>
<div class="output">
    <img ngSrc="favicon.ico"  width="400" height="200">
</div><div class="output">
    <img ngSrc="https://res.cloudinary.com/dhm03owaz/image/upload/fl_preserve_transparency/v1718430394/cld-sample-5.jpg?_s=public-apps"
         
         placeholder="https://res.cloudinary.com/demo/image/upload/c_fill,h_200,w_200/docs/camera-640.jpg"
         width="400" height="200">
</div>

<div class="output">
    <img ngSrc="https://www.img2.it/sites/all/themes/imgdue/logo.png"  width="400" height="200" >
</div>




